<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="group1Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     Choose Group 1
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="group2Button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose Group 2
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

  <div class="dropdown-menu">
    <h6 class="dropdown-header">Dropdown header</h6>
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
  </div>

  <button class="btn btn-dark" (click)='addtournaments()'>
    <i class="fas fa-plus-circle"></i> Play Tournament
  </button>